.navigation-clean {
	background-color: #fff;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #333;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
	.navbar-toggler {
		border-color: #ddd;
		color: #6610f2;
		&:hover {
			background: none;
		}
		&:focus {
			background: none;
		}
	}
	.navbar-nav {
		>li {
			>.dropdown-menu {
				margin-top: -5px;
				box-shadow: none;
				background-color: #fff;
				border-radius: 2px;
			}
		}
	}
	.dropdown-menu {
		.dropdown-item {
			line-height: 2;
			color: #37434d;
			&:focus {
				line-height: 2;
				color: #37434d;
				background-color: #eee;
			}
			&:hover {
				background-color: #eee;
				color: inherit;
			}
		}
	}
}
.navigation-clean.navbar-light {
	.navbar-nav {
		.nav-link.active {
			color: #8f8f8f;
			box-shadow: none;
			background: none;
			pointer-events: none;
			&:focus {
				color: #8f8f8f;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
			&:hover {
				color: #8f8f8f;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
		}
		.nav-link {
			color: #465765;
			&:focus {
				color: #37434d;
				background-color: transparent;
			}
			&:hover {
				color: #37434d;
				background-color: transparent;
			}
		}
	}
}
.navigation-clean.navbar {
	.navbar-nav {
		.nav-link {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
#site-nav {
	width: 100%;
	height: 70px;
}
#site-nav-container {
	box-shadow: 0 5px 16px;
	height: 70px;
	background-color: #fff;
}
#site-nav-navbar {
	padding: 10px 0;
	width: 100%;
}
ul.navbar-nav {
	font-weight: 700;
}
#site-main-hero {
	height: 92.2vh;
	background: linear-gradient(90deg,rgba(181,94,255,0.6),rgba(254,138,100,0.6) 34%,rgba(0,207,208,0.6) 71%,rgba(252,131,115,0.6) 100%),url(../img/movies-bg.jpg) center/cover no-repeat;
}
#site-main-hero-content {
	max-width: 680px;
	width: 100%;
	.hero-title {
		font-size: 4rem;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 20px #333;
	}
	h2 {
		color: #fff;
		text-shadow: 0 0 10px #333;
	}
}
#site-button {
	border: 0;
	background-color: #6610f2;
	color: #fff;
	font-weight: 700;
}
.button-login {
	height: 40px;
}
.button-conteudo {
	font-size: 24px;
	margin-top: 2.25rem;
}
#site-main-conteudo {
	padding: 5vh 2vw;
	background-color: #ececec;
}
#container-cartoes {
	padding-top: 40px;
	margin: 0;
}
.card-group {
	border-radius: 20px;
}
.card {
	border-radius: 20px;
	box-shadow: rgba(150,150,150,0.6) 1px 1px 5px;
}
.tamanho-fixo {
	max-width: 1200px;
	width: 100%;
}
.card-streamy {
	padding: 0;
	max-width: 360px;
	width: 100%;
	img {
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}
}
footer {
	background-color: #333;
	#container-cartoes {
		padding-bottom: 40px;
	}
	a {
		color: #a0a0a0;
		text-decoration: none;
		transition-property: color;
		transition-duration: 1s;
		&:hover {
			color: #6610f2;
		}
	}
}
#autores {
	max-width: 380px;
	width: 100%;
	h1 {
		color: #a0a0a0;
	}
	p {
		color: #dcdcdc;
	}
}
#copyright {
	p {
		font-size: 16px;
		text-align: center;
		color: #a0a0a0;
	}
}