.navigation-clean {
  background-color: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
  color: #6610f2;
}

.navigation-clean .navbar-toggler:hover {
  background: none;
}

.navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  color: #37434d;
  background-color: #eee;
}

.navigation-clean .dropdown-menu .dropdown-item:hover {
  background-color: #eee;
  color: inherit;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active {
  color: #8f8f8f;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active:focus {
  color: #8f8f8f;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus {
  color: #37434d;
  background-color: transparent;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d;
  background-color: transparent;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

#site-nav {
  width: 100%;
  height: 70px;
}

#site-nav-container {
  -webkit-box-shadow: 0 5px 16px;
          box-shadow: 0 5px 16px;
  height: 70px;
  background-color: #fff;
}

#site-nav-navbar {
  padding: 10px 0;
  width: 100%;
}

ul.navbar-nav {
  font-weight: 700;
}

#site-main-hero {
  height: 92.2vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(181, 94, 255, 0.6)), color-stop(34%, rgba(254, 138, 100, 0.6)), color-stop(71%, rgba(0, 207, 208, 0.6)), to(rgba(252, 131, 115, 0.6))), url(../img/movies-bg.jpg) center/cover no-repeat;
  background: linear-gradient(90deg, rgba(181, 94, 255, 0.6), rgba(254, 138, 100, 0.6) 34%, rgba(0, 207, 208, 0.6) 71%, rgba(252, 131, 115, 0.6) 100%), url(../img/movies-bg.jpg) center/cover no-repeat;
}

#site-main-hero-content {
  max-width: 680px;
  width: 100%;
}

#site-main-hero-content .hero-title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 20px #333;
}

#site-main-hero-content h2 {
  color: #fff;
  text-shadow: 0 0 10px #333;
}

#site-button {
  border: 0;
  background-color: #6610f2;
  color: #fff;
  font-weight: 700;
}

.button-login {
  height: 40px;
}

.button-conteudo {
  font-size: 24px;
  margin-top: 2.25rem;
}

#site-main-conteudo {
  padding: 5vh 2vw;
  background-color: #ececec;
}

#container-cartoes {
  padding-top: 40px;
  margin: 0;
}

.card-group {
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  -webkit-box-shadow: rgba(150, 150, 150, 0.6) 1px 1px 5px;
          box-shadow: rgba(150, 150, 150, 0.6) 1px 1px 5px;
}

.tamanho-fixo {
  max-width: 1200px;
  width: 100%;
}

.card-streamy {
  padding: 0;
  max-width: 360px;
  width: 100%;
}

.card-streamy img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

footer {
  background-color: #333;
}

footer #container-cartoes {
  padding-bottom: 40px;
}

footer a {
  color: #a0a0a0;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

footer a:hover {
  color: #6610f2;
}

#autores {
  max-width: 380px;
  width: 100%;
}

#autores h1 {
  color: #a0a0a0;
}

#autores p {
  color: #dcdcdc;
}

#copyright p {
  font-size: 16px;
  text-align: center;
  color: #a0a0a0;
}
/*# sourceMappingURL=styles.css.map */