#site-cabecalho {
	box-shadow: 0rem .625rem .625rem rgba(51,51,51,0.25);
	font-family: 'Mont';
	font-weight: 700;
}
.navegacao {
	background: rgb(255, 255, 255);
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: rgb(51, 51, 51);
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
	.navbar-brand {
		padding: 0;
	}
	.navbar-toggler {
		border-color: rgb(111, 66, 193);
		color: rgb(111, 66, 193);
		background-color: rgb(111, 66, 193);
		&:hover {
			background-color: rgb(111, 66, 193);
		}
		&:focus {
			background-color: rgb(111, 66, 193);
		}
	}
}
.navegacao.navbar {
	.navbar-nav {
		.nav-link {
			padding-left: .625rem;
			padding-right: .625rem;
			margin-left: .313rem;
			margin-right: .313rem;
		}
	}
}
.nav-button {
	padding-left: .625rem;
	padding-right: .625rem;
	margin-left: .313rem;
	margin-right: .313rem;
}
.nav-link {
	border-radius: .75rem;
	color: rgb(51, 51, 51);
	background-color: initial;
	&:hover {
		background-color: rgb(111, 66, 193);
		color: rgb(255, 255, 255) !important;
	}
	&:active {
		color: rgb(111, 66, 193) !important;
	}
}
.nav-link.active {
	&:hover {
		background-color: rgb(111, 66, 193);
		color: rgb(255, 255, 255) !important;
	}
	color: rgb(111, 66, 193) !important;
}
.btn-streamy {
	background-color: rgb(255, 255, 255);
	color: rgb(111, 66, 193);
	border: .063rem solid rgb(111, 66, 193);
	border-radius: .75rem;
	transition-duration: 1s;
	transition-property: background-color, color;
	transition-timing-function: ease;
	font-weight: 700;
	&:hover {
		background-color: rgb(111, 66, 193);
		color: rgb(255, 255, 255);
	}
	&:active {
		background-color: rgb(111, 66, 193);
		color: rgb(255, 255, 255);
	}
	&:focus {
		background-color: rgb(102, 16, 242);
		color: rgb(255, 255, 255);
	}
}
.btn-hero {
	border: .063rem solid rgb(111, 66, 193);
	font-size: 30px;
	font-family: 'Mont';
	font-weight: bold;
	color: rgb(255, 255, 255);
	background: rgb(111, 66, 193);
	border-radius: .75rem;
	transition-duration: 1s;
	transition-property: background-color;
	transition-timing-function: ease;
	&:hover {
		background-color: rgb(102, 16, 242);
		color: rgb(255, 255, 255);
	}
	&:active {
		background-color: rgb(102, 16, 242);
		color: rgb(255, 255, 255);
	}
	&:focus {
		background-color: rgb(102, 16, 242);
		color: rgb(255, 255, 255);
	}
}
#site-hero {
	height: 92vh;
	width: 100%;
	background: linear-gradient(90deg, rgba(181, 94, 255, 0.6), rgba(254, 138, 100, 0.6) 34%, rgba(0, 207, 208, 0.6) 71%, rgba(252, 131, 115, 0.6) 100%), url("../img/movies-bg.jpg") center / cover no-repeat;
	background-attachment: fixed;
}
#hero-text {
	max-width: 47rem;
}
h3.display-custom {
	color: rgb(255,255,255);
	font-family: 'Mont';
	font-weight: 400;
	text-align: center;
	text-shadow: 2px 2px 7px rgb(30, 30, 30);
}
h1.display-custom {
	font-size: calc(2.5rem + 1.2vw);
	color: rgb(255,255,255);
	font-family: 'Mont';
	font-weight: 700;
	text-align: center;
	text-shadow: 2px 2px 7px rgb(30, 30, 30);
}
section {
	background: rgb(227, 227, 227);
	padding: 2.5rem 1rem;
}
#secao-conteudo {
	h1 {
		h2 {
			font-family: 'Mont';
			font-weight: 600;
		}
	}
}
.card {
	border: 1px solid rgb(111, 66, 193);
	max-width: 20rem;
	text-align: justify;
	transition-duration: .5s;
	transition-timing-function: ease;
	border-radius: .75rem;
	&:hover {
		transform: scale(1.1);
		box-shadow: 5px 5px 0px rgb(111, 66, 193);
		z-index: 1000;
	}
	img {
		border-radius: .75rem;
	}
}
.card-group {
	justify-content: center;
}
h4.card-title {
	font-family: 'Mont';
	font-weight: 600;
}
#desenvolvedores {
	margin: .3rem 0;
}
#titulo-secao {
	margin-bottom: 2rem;
}
.rodape {
	padding: 3.125rem 0;
	background-color: rgb(51, 51, 51);
	color: rgb(173, 173, 173);
	h3 {
		font-weight: 100;
		font-family: 'Mont';
	}
	.desenvolvimento {
		text-align: center;
		padding-top: 24px;
	}
}
i.social-dev {
	font-size: 1.5rem;
	color: rgb(255,255,255);
	background: rgb(102, 102, 102);
	padding: .5rem;
	border-radius: .75rem;
	width: 2.5rem;
	height: 2.5rem;
	transition-duration: .5s;
	transition-property: background-color;
	transition-timing-function: ease;
	margin-right: .5rem;
	&:hover {
		background-color: rgb(111, 66, 193);
	}
}
.redes-sociais {
	color: rgb(49, 52, 55);
	text-align: center;
}
.navbar-light {
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}
.navbar-collapse {
	text-align: center;
}
html {
	scroll-padding-top: 72px;
}
.modal-footer {
	a {
		text-decoration: none;
		color: rgb(111, 66, 193);
	}
	border: 0px;
}
.modal-header {
	border: 0px;
}
#conteudo-hero {
	height: 60vh;
	background-image: url("../img/a_rede_social_xl.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#filme-hero-01 {
	background: url("../img/a_rede_social_xl.jpg") center / cover no-repeat;
}
#titulo-filme {
	font-family: 'Mont';
	font-weight: 700;
	background-color: rgb(255, 255, 255);
	padding: .75rem;
	box-shadow: .625rem .625rem 0 rgb(111, 66, 193);
}
.video-container {
	position: relative;
	padding-bottom: 56%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#sinopse {
	h1 {
		font-family: 'Mont';
		font-weight: 700;
	}
	text-align: justify;
	font-size: 1.15rem;
	line-height: 1.8rem;
}
#icone-filme {
	width: 50%;
	padding: .75rem;
	background-color: rgb(111, 66, 193);
	border-radius: .75rem;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	p {
		font-size: 2rem;
	}
}
#icone-container {
	text-align: center;
}
#label-filme {
	font-size: 1.15rem;
	font-weight: 700;
	color: rgb(111, 66, 193);
	margin-bottom: .1rem;
}
#ficha-tecnica {
	margin: 1.25rem 0;
}
#sobre-projeto {
	background-color: rgba(41,41,41,0.45);
	padding: .75rem;
	border-radius: .75rem;
}
#filme-hero-02 {
	background: url("../img/a_teoria_de_tudo_xl.jpg") center / cover no-repeat;
}
#filme-hero-03 {
	background: url("../img/jogador_n_1_xl.jpg") center / cover no-repeat;
}
#filme-hero-04 {
	background: url("../img/operacao_big_hero_xl.jpg") center / cover no-repeat;
}
#filme-hero-05 {
	background: url("../img/shang-chi_xl.jpg") center / cover no-repeat;
}
#filme-hero-06 {
	background: url("../img/velozes_e_furiosos_9_xl.jpg") center / cover no-repeat;
}
.filme-hero {
	height: 60vh;
}
#video {
	margin-bottom: .75rem;
}
@media (min-width:768px) {
	.navegacao {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
